.button {
  height: 2.75rem;
  border-radius: 8px;
  padding: 0 1rem;
  border: 0;
  background: var(--blue-500);
  color: var(--white);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 0.875rem;
}

.button span {
  margin-left: 0.5rem;
}

.button span svg {
  display: block;
}

.button:hover {
  background: var(--blue-300);

  transition: background 0.1s;
}

.button:focus {
  box-shadow: none;
}
